body {
  background: black;
  color: #e5e5e5;
  font-family: monospace;
  margin: 0;
}

.page {
  max-width: 700px;
  padding: 80px 40px;
}

h1 {
  font-size: 48px;
}

.muted {
  color: #9aa0a6;
}

.link {
  display: inline-block;
  margin-top: 40px;
  color: #00ff9c;
  text-decoration: none;
}
